.page {
    font-family: 'Poppins', sans-serif;
    background-color: #F4F6F7;
    height: 100vh;
  }
  
  .container {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
  }
  
  h2 {
    text-align: center;
    color: #2C3E50;
    font-weight: 600;
  }
  
  .settings {
    background-color: #2C3E50;
    color: #ffffff;
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
}

.settingItem {
    margin: 0 10px;
}

.settingItem strong {
    color: #18BC9C;
    margin-right: 5px;
}
