.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #2C3E50, #18BC9C);
    font-family: 'Poppins', sans-serif;
  }
  
  .formCard {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    font-weight: 600;
    color: #2C3E50;
  }
  
  .inputField {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .loginButton {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #18BC9C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
  }
  
  .loginButton:hover {
    background-color: #16A085;
  }
  
  .googleButton {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #DB4437;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
  }
  
  .googleButton:hover {
    background-color: #C1351D;
  }
  
  .divider {
    margin: 20px 0;
    color: #999;
  }
  